<!-- <h2>Newly Add Angular (Chapter - 1)</h2>
<div>
  <p>Install Angular : npm install -g @angular/cli</p>
  <p>Create Prodject : ng new AngularAssinment</p>
  <p>Run Project : ng serve</p>
</div> -->

<!-- <h2>My-Component (Chapter - 2)</h2>
<app-my-first-component></app-my-first-component> -->

<!-- <h2>User List Component (Chapter - 3)</h2> -->
<!-- <h2>User List Component (Chapter - 6)</h2>
<app-user-list></app-user-list> -->

<!-- <h2>Show Newly Added User In Console.(Chapter - 5)</h2>
<h2>Add New User.(Chapter - 4)</h2>
<app-add-user></app-add-user> -->

<div class="container">
  <header>
    <div class="container-box">
      <nav class="navbar">
        <h1 class="logo"><a routerLinkActive="current" ariaCurrentWhenActive="page"  routerLink="user-list">Home</a></h1>
        <ul>
          <li><a routerLinkActive="current" ariaCurrentWhenActive="page"  routerLink="user-list">User List</a></li>
          <li><a routerLinkActive="current" ariaCurrentWhenActive="page"  routerLink="add-user">Add User</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
